* {
    font-family: Arial, Helvetica, sans-serif;
}

#fileTable {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid;
    padding: 5px;
}

thead  td {
    font-weight: bold;
}